.section {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.burger__constructor {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.empty__constructor {
  min-height: 656px;
}

.scroll {
  height: 464px;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.not__buns {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ordering {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 40px;
}

.total {
  display: flex;
  align-items: center;
  gap: 8px;
}
